body {
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    color: white;
}

.navbar-brand a:hover {
    color: blue;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: gray;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    color: white;
}

.navbar a.navbar-brand {
    float: left;
    color: white;
    font-size: 25px;
}

.intro {
    background: url(2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 20%;
}

.intro h1,
h4 {
    color: white;
    font-weight: bold;
}

.about-container {
    display: flex;
    justify-content: space-around;
}

.about-subdetails {
    font-size: 25px;
}

#about-img img {
    height: 400px;
    width: auto;
}

.about-subdetails {
    display: flex;
}

.about-container {
    display: flex;
}

#about {
    margin-top: 20px;
    padding-top: 20px;
}

#about ul {
    list-style-type: none;
}

.skills {
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skill {
    display: flex;
    justify-content: space-around;
}

#progress {
    width: 500px;
    height: 40px;
}

#skills {
    margin-top: 20px;
}

.skill h6 {
    color: black;
    font-size: 15px;
}

#contact {
    padding-left: 25px;
    padding-right: 25px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

input {
    width: 100%;
    height: 30px;
    margin: 12px 0;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#nameinput {
    float: left;
    width: 48%;
    margin-right: 7px;
}

#emailinput {
    float: left;
    width: 48%;
    margin-left: 7px;
}

textarea {
    width: 100%;
    height: 150px;
    background-color: #f8f8f8;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 12px 20px;
}

.btn {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 10px;
}

footer {
    background-color: black;
    height: 150px;
    padding-top: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 0.08em 0.2em;
    padding-top: 10px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}

.social-links a:hover {
    background-color: #149ddd;
}

#services {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}

.icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.icon:hover {
    background-color: #fff;

}

.icon i:hover {
    color: #149ddd;
}

.title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.title a {
    color: #343a40;
}

.title a:hover {
    color: #149ddd;
}

.description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}